modules/intsvc/src/main/app/receive-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
        xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
        xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="receive-service" doc:name="receive-service">

        <http:inbound-endpoint exchange-pattern="request-response"
                               address="${NT-SERVICES_INBOUND_URL}" connector-ref="soitoolkit-http-connector"
                               transformer-refs="logReqIn"
                               responseTransformer-refs="createSoapFaultIfException logRespOut"
                               doc:name="HTTP"/>

        <cxf:proxy-service doc:name="Get raw envelope" payload="envelope"/>

        <custom-transformer class="se.skltp.nt.intsvc.CreatePropsAndConvertToStringTransformer"
                            doc:name="Generate properties and convert to string">
            <spring:property name="configProperties" ref="config-properties-bean"/>
        </custom-transformer>

        <logger message="1 #[message.outboundProperties.keySet()]" level="INFO" doc:name="Logger"/>
        <logger message="2 #[message.payload]" level="INFO" doc:name="Logger"/>

        <jms:outbound-endpoint connector-ref="soitoolkit-jms-connector"
                               topic="${NOTIFY_TOPIC}"
                               transformer-refs="logMsgOut"
                               doc:name="JMS Topic">
        </jms:outbound-endpoint>

        <set-payload
                value='&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="urn:org.soitoolkit.refapps.sd.sample.schema:v1">&lt;soapenv:Header/>&lt;soapenv:Body/>&lt;/soapenv:Envelope>'
                doc:name="Set response to SOAP-message text"/>
        <logger message="3 #[message.payload]" level="INFO" doc:name="Logger"/>
        <custom-transformer
                class="org.mule.module.xml.transformer.XmlToXMLStreamReader"
                doc:name="CreateXmlStreamReaderResponse"/>

        <custom-exception-strategy
                class="org.soitoolkit.commons.mule.error.ServiceExceptionStrategy"/>

    </flow>

</mule>
