src/main/app/receive-any-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

	<flow name="receive-any-service" doc:name="receive-any-service">

		<http:inbound-endpoint exchange-pattern="request-response"
			address="${RECEIVE-SERVICE_INBOUND_URL}" connector-ref="soitoolkit-http-connector"
			transformer-refs="logReqIn" responseTransformer-refs="createSoapFaultIfException logRespOut"
			doc:name="HTTP" />
			
        <logger message="1 : #[message.payload]" level="INFO" doc:name="Logger"/>

		<cxf:proxy-service doc:name="Convert to XMLStreamReader for envelope"
			payload="envelope" />
			
        <logger message="2 : #[message.payload]" level="INFO" doc:name="Logger"/>
        <set-variable doc:name="logicalAddress" value="${LOGICAL_ADDRESS}" variableName="logicalAddress"/>
                  
		<custom-transformer
			class="se.skltp.nt.intsvc.ServiceContractAndRivtaVersionExtractor"
			 doc:name="Extract rivtaVersion and service contract" />
			
		<logger message="2 : #[flowVars.keySet()]" level="INFO" doc:name="Logger"/>
        
        <logger message='TK : #[NT_SERVICE_CONTRACT_URI]' level="INFO" doc:name="Logger"/>
        <logger message="rivta : #[NT_RIVTA_VERSION]" level="INFO" doc:name="Logger"/>
                
        <cxf:proxy-service doc:name="Strip header" payload="body"/>
        
        <custom-transformer
            class="se.skltp.nt.intsvc.SoapBodyToNtPayloadTransformer"
             doc:name="Create an NtPayload" />			
             
             <!-- jms push/pop here ... so what follows is the topic consumer part -->
             
        <custom-transformer
            class="se.skltp.nt.intsvc.NtPayloadToXmlStreamTransformer"
             doc:name="Extract an NtPayload" />  
                     
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="SOAPAction" value="#[NT_SOAP_ACTION]"/>
            <add-message-property key="Content-Type" value="#[NT_CONTENT_TYPE]"/>
        </message-properties-transformer>
        
        <cxf:proxy-client doc:name="SOAP" payload="envelope"/>
        
        <logger message="3 : #[message.payload]" level="INFO" doc:name="Logger"/>
          
        <http:outbound-endpoint exchange-pattern="request-response"
            doc:name="HTTP" method="POST"
            host="localhost" port="8089" path="#[NT_VP_URL]">	
		</http:outbound-endpoint>

         <!--     

		<jms:outbound-endpoint connector-ref="soitoolkit-jms-connector"
			topic="${NOTIFY_TOPIC}" transformer-refs="logMsgOut" doc:name="Store on JMS Topic">
		</jms:outbound-endpoint>


        <set-payload value="Ok" doc:name="Set Payload to 'Ok'" />
 -->
		<custom-exception-strategy
			class="org.soitoolkit.commons.mule.error.ServiceExceptionStrategy" />

	</flow>

</mule>
